main:hover .title__cross {
  display: block;
}

input:checked + .meme__content .content__img,
label:hover .content__img {
  display: block;
}

input:checked + .meme__content .title__cross,
label:hover .title__cross {
  transform: rotate(0deg);
}
