body,
h2 {
  padding: 0;
  margin: 0;
}

body {
  background-color: azure;
  font-size: 1em;
  font-family: Verdana, sans-serif;
}

header {
  margin-top: 3%;
}

main,
header {
  width: 90vw;
  margin-left: 5vw;
}

.meme {
  border-top: 1px solid rgba(220, 225, 228, 255);
}

.meme__switch {
  width: 0;
  height: 0;
  appearance: none;
}

.meme__content {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.content__title {
  display: flex;
  justify-content: space-between;
}

.title__cross {
  width: 1em;
  opacity: 0;
  display: block;
  transform: rotate(45deg);
}

.content__img {
  width: 0;
  display: block;
  margin: 1em auto;
}

.title__text {
  color: blue;
}
