body {
  padding: 0;
  margin: 0;
  background-color: azure;
  border-bottom: 1px solid rgba(220, 225, 228, 255);
  font-size: 24px;
}
header {
  margin-top: 3%;
}
input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}
label {
  display: block;
  width: 50%;
}

span {
  display: none;
}
article input:checked + label span,
article label:hover span {
  display: block;
}
img {
  width: 15%;
}
main {
  width: 500px;
}
.meme__cross {
  transform: rotate(45deg);
  width: 4%;
}
.meme__cross {
  display: none;
}

main:hover .meme__cross {
  display: block;
}
article input:checked + label .meme__cross,
article label:hover .meme__cross {
  transform: rotate(0deg);
}
